CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_GRUB_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_PACKAGE_6in4=n
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_ip6tables=n
CONFIG_PACKAGE_iptables-mod-conntrack-extra=n
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-nat6=n
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-nf-nat6=n
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-guest-wifi=n
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-nps=n
CONFIG_PACKAGE_luci-app-p910nd=n
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=n
CONFIG_PACKAGE_luci-i18n-nps-zh-cn=n
CONFIG_PACKAGE_luci-i18n-p910nd-zh-cn=n
CONFIG_PACKAGE_luci-proto-ipv6=n
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_npc=n
CONFIG_PACKAGE_odhcp6c=n
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_p910nd=n
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_sqm-scripts=n
CONFIG_PACKAGE_tc=n
CONFIG_PACKAGE_tcping=n
CONFIG_PACKAGE_unzip=y
